<!DOCTYPE html>
<html>
<head>
  <title>Group1Project</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="userstatus">

      </div>
      <div id="gametitle">
        <header>
          <h1>"Not" Asteroids</h1>
        </header>
        <% if !current_user %>
          <%= link_to image_tag("sign-in-with-google.png", :border=>0, :class => 'googleimage', :size => "164x36"), "/auth/google_oauth2", id: "sign_in" %>
        <% end %>
          

        <% if current_user %>
          <nav id="mainnav">
            <%=link_to_unless_current 'Home', game_url %>
            <%=link_to_unless_current 'LeaderBoard', leaderboard_url %>
            <div id="signout">
              Welcome, <%= current_user.name %>! &nbsp;<%= link_to "Sign out", signout_path, id: "game#index" %>
            </div>
          </nav>


      <% end %>
      <div>
      <%= yield %>
      </div>




</body>
</html>
